.main {
    min-height: 100vh;
}

.feed-container {
    min-height: 100vh;
}

.navbar {
    height: 55px;
    padding: 0;
    background-color: var(--black2);
}

.navbar-top {
    height: 55px;
}

.navbar-search {
    margin-left: 4px;
}

.navbar-search input {
    border-radius: 10px;
    border: none;
    padding: 4px 10px 4px 31px;
    width: 315px;
    height: 35px;
    font-size: 13px;
    font-weight: 300;
}

.navbar-icon {
    width: 12px;
    position: absolute;
    color: var(--falcon-gray-400);
    top: 50%;
    left: 0.9rem;
    -webkit-transform: translateY(-48%);
    -ms-transform: translateY(-48%);
    transform: translateY(-48%);
}

.navbar-menu-user {
    float: inline-end;
    margin-bottom: 5px;
}

.navbar-menu-avatar-user {
    border-radius: 50%;
    height: 30px;
    margin-top: 12px;
    width: 30px;
    margin-left: 130px;
}

.navbar-menu-options {
    font-size: 12px;
    font-weight: 300;
    background-color: var(--black2);
}

.feed-content {
    padding-top: 85px;
    padding-bottom: 30px;
}

.card-post {
    padding: 0;
    border-radius: 5px;
}

.card-create-post {
    margin-bottom: 15px;
    padding: 0;
}

.card-create-post-body {
    background-color: var(--black2);
    border-radius: 5px;
    height: 210px;
}

.card-create-post-user {
    display: flex;
    font-size: 11px;
    margin-left: 14px !important;
    border-radius: 20px;
}

.card-create-post-avatar {
    border-radius: 50%;
    height: 30px;
    margin-top: 10px;
    width: 30px;
}

.card-create-post-user p {
    font-size: 12px;
    font-weight: 500;
    margin-left: 6px;
    margin-top: 15px;
    width: 100%;
}

.card-post-create-text textarea {
    background-color: var(--black);
    border-radius: 3px;
    border-top: none;
    border-right: 1px solid var(--black2);
    border-bottom: none;
    border-left: 1px solid var(--black2);
    font-size: 13px;
    padding: 5px 10px;
    height: 100px;
    width: 100%;
}

.card-post-create-publish {
    float: right;
    margin-right: 15px;
    margin-top: -15px;
}

.card-post-create-publish-btn {
    background-color: var(--btn);
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 15px;
}

.card-post-create-publish-btn:hover {
    background-color: var(--btn-hover);
}

.card-header {
    background-color: var(--cinza2);
    border-radius: 5px;
    height: 60px;
}

.card-post-avatar {
    height: 40px;
    width: 65px;
}

.card-post-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.card-post-user-name {
    left: 60px;
}

.card-post-user-name a {
    color: var(--teal-2);
    font-size: 14px;
    text-decoration: none;
}

.card-post-user-name a:hover {
    text-decoration: none;
}

.card-post-profession {
    font-size: 11px;
    font-weight: 300;
}

.card-post-date {
    font-size: 10px;
    font-weight: 300;
}

.card-post-text {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.card-comment {
    margin-top: 5px;
    display: flex;
}

.card-comment-avatar {
    height: 35px;
    width: 35px;
    border-radius: 90%;
}

.card-comment-text {
    border-bottom: 10px;
    padding-left: 15px;
    width: 100%;
}

.card-comment-text label {
    padding: 0;
}

.card-comment-text textarea {
    width: 100%;
    height: 40px;
    padding: 10px !important;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    background-color: var(--cinza2);
}

.card-comment-response {
    display: flex;
}

.card-comment-response-avatar {
    height: 35px;
    width: 35px;
    border-radius: 90%;
}

.card-response-user {
    float: left;
}

.card-comment-response-text {
    margin-left: 12px;
    background-color: var(--cinza);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.card-comment-response-text a {
    font-size: 13px;
    text-decoration: none;
    color: var(--teal-2);
    font-weight: 400;
}

.card-comment-response-text a:hover {
    text-decoration: none;
}

.card-comment-response-text span {
    font-size: 13px;
    font-weight: 200;
}

.card-comment-response-options {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 17px;
}

.card-comment-response-options a {
    margin-right: 5px;
    text-decoration: none;
    color: var(--teal-2);
}

.card-comment-response-options a:hover {
    text-decoration: none;
    color: var(--teal-2);
}

.footer {
    position: absolute;
    width: 100%;
    padding: 40px;
    font-size: 12px;
    font-weight: 300;
    background-color: var(--black2);
}

.card-reactions-count a {
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    color: var(--teal-2);
    margin-left: 1px;
}

.card-reactions-count-likes::after {
    content: "\00b7";
    font-size: 10px;
    font-weight: 600;
    margin-left: 5px;
}

.card-reactions {
    font-size: 13px;
    font-weight: 300;
}

.card-reactions a {
    text-decoration: none;
    margin-right: 8px;
}

.card-reactions img {
    width: 13px;
    margin-top: 5px;
    float: left;
}

.card-reactions span {
    color: var(--teal-2);
    font-size: 13px;
    font-weight: 300;
    float: left;
    display: block;
    margin: 2px 15px 0 5px;
}

.card-line {
    opacity: 0.1;
    margin: 10px 0;
}

.card-line-count {
    margin-top: 8px;
}

.card-line-reactions {
    margin-bottom: 22px;
}