.card-post {
    padding: 0;
    border-radius: 5px;
    border-color: var(--lightblack);
    margin-bottom: 15px;
}

.card-create-post {
    margin-bottom: 15px;
    padding: 0;
}

.card-create-post-body {
    background-color: var(--lightblack);
    border-radius: 5px;
}

.card-create-post-user {
    display: flex;
    font-size: 11px;
    margin-left: 14px !important;
    border-radius: 20px;
}

.card-create-post-avatar {
    border-radius: 50%;
    height: 30px;
    margin-top: 10px;
    width: 30px;
}

.card-create-post-user p {
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
}

.card-post-publish-loading {
    height: 40px;
    display: none;
}

.card-post-create-text {
    min-height: 100px;
    width: 100%;
}

.card-post-create-text textarea {
    background-color: var(--deep-black);
    border-radius: 3px;
    border-top: none;
    border-right: 1px solid var(--lightblack);
    border-bottom: none;
    border-left: 1px solid var(--lightblack);
    font-size: 13px;
    padding: 5px 10px;
    max-height: 250px;
    height: 100px;
    width: 100%;
    display: block;
}

.card-post-create-publish-btn {
    background-color: var(--btn);
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 15px;
    margin-top: 8px;
    margin-right: 10px;    
}

.card-post-create-publish-btn:hover {
    background-color: var(--btn-hover);
}

.card-header {
    background-color: var(--mediumgrey);
    border-radius: 5px;
    height: 65px;
    padding-top: 11px;
}

.card-post-avatar {
    height: 40px;
    width: 65px;
}

.card-post-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.card-post-user-name {
    left: 60px;
}

.card-post-user-name a {
    color: var(--green-water-two);
    font-size: 14px;
    text-decoration: none;
}

.card-post-user-name a:hover {
    text-decoration: none;
}

.card-post-profession {
    font-size: 11px;
    font-weight: 300;
}

.card-post-date {
    font-size: 10px;
    font-weight: 300;
}

.card-post-text {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
}

.card-comment {
    margin-top: 5px;
    display: flex;

}

.card-comment-avatar {
    height: 35px;
    width: 35px;
    border-radius: 90%;
}

.card-comment-text {
    border-bottom: 10px;
    padding-left: 15px;
    width: 100%;
}

.card-comment-text textarea {
    width: 100%;
    height: 40px;
    padding: 10px !important;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    background-color: var(--mediumgrey);
    display: block;
    max-height: 250px;
}

.card-comment-btn {
    font-size: 11px;
    background-color: var(--btn);
    border-radius: 5px;
    border: none;
    font-weight: 400;
    padding: 4px 15px;
    margin-top: 8px;
    display: none;
}

.card-comment-btn:hover {
    background-color: var(--btn-hover);
}

.card-comment-response {
    display: flex;
}

.card-comment-response-avatar {
    height: 35px;
    width: 35px;
    border-radius: 90%;
}

.card-response-user {
    float: left;
}

.card-comment-response-text {
    margin-left: 12px;
    background-color: var(--darkgrey);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.card-comment-response-text a {
    font-size: 13px;
    text-decoration: none;
    color: var(--green-water-two);
    font-weight: 400;
}

.card-comment-response-text a:hover {
    text-decoration: none;
}

.card-comment-response-text span {
    font-size: 13px;
    font-weight: 200;
}

.card-comment-response-options {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 17px;
}

.card-comment-response-options a {
    margin-right: 5px;
    text-decoration: none;
    color: var(--green-water-two);
}

.card-comment-response-options a:hover {
    text-decoration: none;
    color: var(--green-water-two);
}

.card-reactions-count a {
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    color: var(--green-water-two);
}

.card-reactions-count-likes::after {
    content: "\00b7";
    font-size: 10px;
    font-weight: 600;
    margin: 8px;
}

.card-reactions {
    font-size: 13px;
    font-weight: 300;
}

.card-reactions a {
    text-decoration: none;
    margin-right: 8px;
}

.card-reactions i {
    font-size: 12px;
    float: inline-start;
    margin-top: 3px;
    color: var(--pastelgrey);
}

.card-reactions img {
    width: 13px;
    margin-top: 5px;
    float: left;
}

.card-reactions span {
    color: var(--green-water-two);
    font-size: 13px;
    font-weight: 300;
    float: left;
    display: block;
    margin: 2px 15px 0 5px;
}

.card-line {
    opacity: 0.1;
    margin:12px 0 8px 0;
}

.card-line-count {
    margin-top: 8px;
}

.card-line-reactions {
    margin-bottom: 15px;
}

.card-birthday {
    background-color: var(--mediumgrey);
    border-radius: 5px;
    height: 50px;
}

.card-birthday-content {
    width: 100%;
    padding: 10px;
}

.card-birthday-icon {
    font-size: 16px;
    color: var(--green-water-two);
}

.card-birthday-link {
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

.card-birthday-link span {
    font-weight: 600;
    color: var(--green-water-two);
}

.card-timeline-activity-body {
    padding: 15px 15px 0 15px
}

.card-timeline {
    border-color: var(--lightblack);
}

.card-timeline-header {
    height: 49px;
    border: 1px solid var(--lightblack);
}

.card-timeline-title {
    background-color: var(--lightblack);
    border: none;
}

.card-timeline-title h5 {
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
}

.card-timeline-icons-users {
    margin-top: 6px;
}

.card-timeline-icon {
    padding: 0 9px;
    border-radius: 50%;
    border-color: var(--green-water-two);
    z-index: 1;
}

.card-timeline-icon i {
    font-size: 20px;
}

.card-timeline-line::before {
    content: "";
    position: absolute;
    border-left: 2px solid var(--lightblack);
    height: 82px;
    left: 23px;
    margin-top: 29px;
    transform: translateX(-55%);
    z-index: -1;
}

.card-timeline-activity {
    height: 110px;
}

.card-timeline-recent-activity {
    border-radius: 3px;
    margin-left: -5px;
    padding: 0 5px;
    position: relative;
}

.card-timeline-content {
    position: relative;
    display: flex;
    background: var(--lightblack);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.card-timeline-content::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: var(--lightblack) transparent;
    bottom: calc(100% + -20px);
    left: -12px;
    transform: rotate(88deg);
}

.card-timeline-content p {
    font-size: 11px;
    font-weight: 400;
    margin: 5px;
}

.card-timeline-content span {
    color: var(--green-water-two);
    font-size: 11px;
    font-weight: 500;
}

.card-timeline-card {
    font-size: 10px;
    margin: 3px;
}

.card-timeline-card a {
    text-decoration: none;
    color: var(--green-water-two);
    font-weight: 500;
}

.card-timeline-name-user {
    font-size: 12px !important;
    font-weight: 300;
    margin-left: 5px;
}

.card-timeline-card img {
    height: 30px;
    width: 30px;
    border-radius: 90%;
}

.card-playlist-music {
    border-color: var(--lightblack);
}

.card-playlist-music-header {
    height: 49px;
    border: 1px solid var(--lightblack);
}

.card-playlist-title {
    background-color: var(--lightblack);
    border: none;
}

.card-playlist-title h5 {
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
}

.card-music-divisor {
    margin: 5px 10px;
    color: var(--bs-border-color);
}

.list-group-item-music .list-group-item {
    border: none;
    padding: 8px 15px;
}

.card-music-listening-image img {
    width: 45px;
    height: 45px;
}

.card-music-content {
    padding-left: 8px;
}

.card-music-content-track {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.card-music-content-artist {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2px;
    color: white;
}

.card-music-content-time {
    font-size: 10px;
    font-weight: 300;
}

.card-tab-news-header {
    height: 49px;
    border: 1px solid var(--lightblack);
}

.card-tab-news h5 {
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
}

.card-tab-news-content .list-group-item {
    border: 1px solid var(--darkgrey);
    border: none;
    padding: 8px 15px;
}

.card-tab-news-content a {
    text-decoration: none;
}

.card-tab-news-content-title {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--green-water-two)
}

.card-tab-news-content-description {
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 5px;
    color: white;
}

.card-tab-news-content-time {
    font-size: 10px;
    font-weight: 300;
}