.edit-text {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.form-edit-profile {
    background: var(--lightblack);
    border-radius: 5px;
    border: 1px solid var(--lightblack);
    font-weight: 200;
    width: 100%;
    height: 100%;
}

.form-edit-profile label {
    font-size: 14px;
}

.form-edit-profile input {
    font-size: 13px;
    font-weight: 200;
}

.form-edit-profile-btn {
    color: var(--lightgrey);
    margin: 20px 0;
    float: inline-end;
    width: 20%;
    border-radius: 5px;
}

.form-edit-profile-btn button {
    background-color: var(--green-background);
}

.form-edit-profile-btn button:hover {
    color: var(--lightgrey);
    background-color: var(--btn-hover);
    transform: scale(1.3) ease;
}