.login-text {
    background: var(--teal-3);
    padding: 40px;
}

.login-title {
    font-weight: 500;
    margin-bottom: 40px;
}

.login-description {
    font-weight: 200;
    margin-bottom: 50px;
}

.login-new-user {
    font-weight: 300;
    margin-top: 10px;
}

.login-new-user-title {
    font-weight: 400;
}

.login-new-user-link {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.login-form {
    background: var(--cinza);
    font-weight: 200;
    padding: 90px 40px;
}

.login-enter {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 17px;
}

.login-btn {
    color: var(--grey);
    background-color: var(--teal-3);
    font-weight: 100;
    margin-top: 12px;
    border-radius: 5px;
}

.login-btn button {
    background-color: var(--teal-3);
}

.login-btn button:hover {
    color: var(--grey);
    background-color: var(--background-btn);
    transform: scale(1.3)ease;
}