@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --deep-black: #222831;
    --lightblack: #323336;
    --darkgrey: #31363f;
    --mediumgrey:#333436;
    --teal: #76ABAE;
    --lightgrey: #EEEEEE;
    --pastelgrey: #d7cdcd;
    --green-water-two: #64CCC5;
    --green-water: #81e2df;
    --green-one: #176B87;
    --green-two: #135D66;
    --green-background: #135D67;
    --btn: #135D67;
    --btn-hover: #1e686b;
    --background-btn: #0f6c8b;
    --color-icons: #a2a2a2;
    --btn-verificado: #319CA9;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem !important;
}

.main {
    min-height: 100vh;
}

.main-container {
    min-height: 100vh;
}

.main-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

li {
    list-style-type: none;
}

.fs-10 {
    font-size: 0.8333333333rem !important;
}

.card-content {
    border-radius: 5px;
    border-color: var(--lightblack);
}

.navbar {
    height: 55px;
    padding: 0;
    background-color: var(--lightblack);
}

.navbar-top {
    height: 55px;
}

.navbar-search {
    margin-left: 4px;
}

.navbar-search input {
    border-radius: 10px;
    border: none;
    padding: 4px 10px 4px 31px;
    width: 315px;
    height: 35px;
    font-size: 13px;
    font-weight: 300;
    background-color: var(--deep-black);
}

.navbar-icon {
    width: 12px;
    position: absolute;
    color: var(--falcon-gray-400);
    top: 50%;
    left: 0.9rem;
    -webkit-transform: translateY(-48%);
    -ms-transform: translateY(-48%);
    transform: translateY(-48%);
}

.navbar-menu-user {
    float: inline-end;
    margin-bottom: 5px;
}

.navbar-menu-avatar-user {
    border-radius: 50%;
    height: 30px;
    margin-top: 6px;
    width: 30px;
    margin-left: 130px;
}

.navbar-menu-options {
    font-size: 12px;
    font-weight: 300;
    background-color: var(--lightblack);
    margin-top: 7px !important;
}


.navbar-menu-scrollbar-link,
.navbar-menu-link-collapse {
    text-decoration: none;
    color: var(--pastelgrey);
    font-size: 13px;
    font-weight: 400;
    display: block;
    padding-top: 12px;
}

.navbar-menu-scrollbar-link:hover,
.navbar-menu-link-collapse:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 13.1px;
}

.navbar-menu-scrollbar-link-icon,
.navbar-menu-link-icon-collapse {
    font-size: 16px;
}

.navbar-menu-scrollbar-link-icon:hover,
.navbar-menu-link-icon-collapse:hover{
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
}

.navbar-menu-link-collapse::after {
    content: "";
    display: block;
    position: absolute;
    right: 5px;
    top: 65%;
    width: 0.4rem;
    height: 0.4rem;
    border-right: 1px solid var(--pastelgrey);
    border-bottom: 1px solid var(--pastelgrey);
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    transition-property: transform, border-color;
}

.navbar-menu-link-collapse[aria-expanded=true]::after {
    transform: translateY(-50%) rotate(-136deg); 
}

.menu-text {
    margin-left: 10px;
}

.submenu-link {
    text-decoration: none;
    color: var(--pastelgrey);
    font-size: 13px;
    font-weight: 400;
    display: block;
    padding-bottom: 0;
}

.submenu-link:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 13.1px;
}

.navbar-nav .nav-item {
    text-align: justify; 
    margin-left: 40px;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 40px;
    font-size: 12px;
    font-weight: 300;
    background-color: var(--lightblack);
}