.card-friends {
    padding: 0;
    border-radius: 5px;
    border-color: var(--lightblack);
    margin-bottom: 15px;
}

.card-text h5 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}

.card-friends-divisor {
    margin: 30px 15px;
    color: var(--bs-border-color);
}

.card-seach-friends input {
    border-radius: 10px;
    border: 1px solid var(--darkgrey);
    padding: 4px 10px 4px 10px;
    width: 315px;
    height: 35px;
    font-size: 13px;
    font-weight: 300;
    background-color: var(--deep-black);
}

.card-friends-user a {
    text-decoration: none;
    color: var(--green-water-two);
}

.card-friends-avatar img {
    width: 85px;
    height: 85px;
    margin-bottom: 14px;
}

.card-friends-user-name {
    font-size: 13px;
    font-weight: 500;
}

.card-friends-user span {
    display: block;
    font-size: 11px;
    color: white;
    font-weight: 300;
}